/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


/* .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

/* .btn-primary {
    color: #fff ;
    background-color: #007bff ;
    border-color: #007bff !important;
}
.btn-light{
    color: #fff !important;
    background-color: #4dd9c9 !important;
    border-color: #4dd9c9 !important;
} */
.remove_button{
    color: #fff !important;
    background-color: #721c24 !important;
    border-color: #721c24 !important;
}
button {
    text-transform: none;
}
button {
    overflow: visible;
}

.btn-group{
    margin-top: 10px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.shipping_address{
    border: 1px solid #aeaeaa;
    padding: 10px 20px;
    width: max-content;
}


.hover_txt{
    background-color: rgba(0,0,0,.8);
    padding: 3px;
    border-radius: 12px;
    position: absolute;
    margin-top: -2px;
    width: 100px;
    cursor: pointer;
    color: #fff;
    display: none;
    text-align: center;
}

#clk_2_copy_add:hover + .hover_txt{
    display: block;
}

#clk_2_copy_add{
    cursor: pointer;
}